@import '../../../../theme/scss/light/theme/theme';

:host ::ng-deep .redirect {
	display: flex;
	justify-content: center;

	p,
	.p-button {
		font-family: $fontFamilySansSerif2;
		font-size: 0.8rem;
		color: var(--primary-700);
		line-height: $lineHeightSM;
		font-weight: 500;
	}

	a {
		text-decoration: none;
		color: var(--primary-500);
		font-weight: bold;
	}

	.p-button {
		padding: 0;
	}
}

:host ::ng-deep .link-with-icon {
	display: flex;
	align-items: center;
	gap: 0.6rem;

	.icon {
		font-size: 0.9rem;
		color: var(--primary-700);
	}
}
