<div class="layout-container">
	<div class="content-container">
		<div class="content-box">
			<div class="content-top">
				<h1 class="content-title">
					{{ pageTitle }}
				</h1>

				<h5 class="content-subtitle">
					{{ subtitle }}
				</h5>
			</div>

			<ng-content select="[templateForm]"></ng-content>

			<app-divider
				maxWidth="250px"
				layout="horizontal"
				label="Social Signup"
				backgroundColor="#fff"
			></app-divider>

			<div class="social-connect-box">
				<app-button-social
					*ngFor="let provider of socialProviders"
					type="button"
					[outline]="provider.outline"
					[icon]="provider.icon"
					(click)="loginWithProvider(provider.name)"
					>{{ provider.label }}</app-button-social
				>
			</div>
		</div>

		<div class="img-box"></div>
	</div>
</div>
