<app-layout
	pageTitle="Login"
	subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
>
	<div templateForm>
		<!-- todo add form -->
		<form
			class="login-form"
			*ngIf="mainForm"
			[formGroup]="mainForm"
			(ngSubmit)="onMainFormSubmit()"
		>
			<ng-container [formGroup]="personnalInfosForm">
				<div class="form-row">
					<app-text-field
						type="text"
						name="firstname"
						label="Firstname *"
						formControlName="firstname"
						groupName="personnalInfosForm"
						[parentForm]="mainForm"
					></app-text-field>

					<app-text-field
						type="text"
						name="lastname"
						label="Lastname *"
						formControlName="lastname"
						groupName="personnalInfosForm"
						[parentForm]="mainForm"
					></app-text-field>
				</div>

				<div class="form-row">
					<app-text-field
						type="text"
						name="username"
						label="Username *"
						formControlName="username"
						groupName="personnalInfosForm"
						[parentForm]="mainForm"
					></app-text-field>
				</div>

				<div class="form-row">
					<app-text-field
						type="text"
						name="email"
						label="Email *"
						formControlName="email"
						groupName="personnalInfosForm"
						[parentForm]="mainForm"
					></app-text-field>
				</div>
			</ng-container>

			<ng-container [formGroup]="passwordForm">
				<div class="form-row">
					<app-password-field
						name="password"
						label="Password *"
						[toggleMask]="true"
						[feedback]="false"
						formControlName="password"
						groupName="passwordForm"
						[parentForm]="mainForm"
					></app-password-field>

					<app-password-field
						name="confirmPassword"
						label="Confirm password *"
						[toggleMask]="true"
						[feedback]="false"
						formControlName="password"
						formControlName="confirmPassword"
						groupName="passwordForm"
						[parentForm]="mainForm"
					></app-password-field>
				</div>
			</ng-container>

			<app-button-rounded
				type="submit"
				severity="primary"
				[outline]="false"
				[disabled]="!mainForm.valid"
				>Register</app-button-rounded
			>
		</form>
	</div>
</app-layout>
