@import '../../../../../theme/scss/light/theme/theme';

.form-control {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	margin-bottom: 0.2rem;
}

:host ::ng-deep .p-input-icon-right > .p-inputtext {
	width: 100%;
}

:host ::ng-deep .p-input-icon-right > .p-icon-wrapper,
:host ::ng-deep .p-input-icon-right > i:last-of-type {
	color: var(--primary-800);
}

:host ::ng-deep .p-password {
	width: 100%;
}

:host ::ng-deep .p-inputtext {
	font-family: $fontFamilySansSerif3;
	font-size: 0.85rem;
	color: var(--primary-700);
	width: 100%;
	border-color: var(--primary-50);

	&:enabled:focus {
		box-shadow: none;
	}

	&:enabled:hover,
	&:enabled:focus {
		border-color: var(--primary-500);
	}
}
