@import '../../../../theme/scss/light/theme/theme';

.login-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0rem 1rem;
	width: 100%;

	@media (min-width: $lg) {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;
	}
}

.form-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	margin-bottom: 1rem;

	.forgot-link {
		text-decoration: none;
		font-family: $fontFamilySansSerif2;
		font-size: 0.8rem;
		color: var(--primary-700);
		line-height: $lineHeightSM;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}
	}
}

app-text-field,
app-password-field {
	width: 100%;
	margin-bottom: 1rem;
}

app-button-rounded {
	margin-top: 0.25rem;
}
