<app-layout
	pageTitle="Signin"
	subtitle="Lorem ipsum dolor sit, amet consectetur adipisicing elit."
	redirectLabel="Don't have an Account ?"
	redirectRouterLink="/account/register"
	redirectLabelLink="Register"
>
	<div templateForm>
		<form
			class="login-form"
			*ngIf="mainForm"
			[formGroup]="mainForm"
			(ngSubmit)="onMainFormSubmit()"
		>
			<app-alert [message]="formErrorMessage" severity="error"></app-alert>

			<div class="form-row">
				<app-text-field
					type="text"
					name="email"
					label="Email *"
					formControlName="email"
					[parentForm]="mainForm"
					[validationMessage]="inputsValidationMessages.email"
				></app-text-field>
			</div>

			<div class="form-row">
				<app-password-field
					name="password"
					label="Password *"
					[toggleMask]="true"
					[feedback]="false"
					formControlName="password"
					[parentForm]="mainForm"
					[validationMessage]="inputsValidationMessages.password"
				></app-password-field>
			</div>

			<div class="form-links">
				<a class="forgot-link" routerLink="/account/forgot-password"
					>Forgot password ?</a
				>
			</div>

			<app-button-rounded
				type="submit"
				severity="primary"
				[outline]="false"
				[disabled]="!mainForm.valid"
				>Login</app-button-rounded
			>
		</form>
	</div>
</app-layout>
