@import '../../../../theme/scss/light/theme/theme';

:host ::ng-deep p-divider {
	display: block;
	margin: 2.5rem auto;

	.p-divider.p-divider-horizontal {
		margin: 0;
	}
}

:host ::ng-deep .p-divider-horizontal::before {
	border-color: var(--gray-300);
	opacity: 0.6;
}

:host ::ng-deep .content-box {
	padding: 0 0.75rem;

	.content-icon {
		color: var(--bluegray-500);
	}

	.content-label {
		font-family: $fontFamilySansSerif2;
		font-weight: normal;
		color: var(--bluegray-300);
		opacity: 0.4;
	}
}

:host ::ng-deep .p-element {
	margin: 0;
}
