<app-layout
	pageTitle="Set new password"
	subtitle="Ready to update your password? Let's get started."
	redirectRouterLink="/account/signin"
	redirectLabelLink="back to signin"
	[showBack]="true"
>
	<div templateForm>
		<form
			class="update-password-form"
			*ngIf="mainForm"
			[formGroup]="mainForm"
			(ngSubmit)="onMainFormSubmit()"
		>
			<app-alert
				*ngIf="showPasswordEqualError$ | async"
				severity="error"
				[message]="inputsValidationMessages.passwordEqual?.message"
			>
			</app-alert>

			<div class="form-row">
				<app-password-field
					name="password"
					label="Password *"
					[toggleMask]="true"
					[feedback]="false"
					formControlName="password"
					[parentForm]="mainForm"
					[validationMessage]="inputsValidationMessages.password"
				></app-password-field>

				<app-password-field
					name="confirmPassword"
					label="Confirm password *"
					[toggleMask]="true"
					[feedback]="false"
					formControlName="confirmPassword"
					[parentForm]="mainForm"
					[validationMessage]="inputsValidationMessages.confirmPassword"
				></app-password-field>
			</div>

			<app-button-rounded
				type="submit"
				severity="primary"
				[outline]="false"
				[disabled]="!mainForm.valid"
				>Update password</app-button-rounded
			>
		</form>
	</div>
</app-layout>
